@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --base-text-color: #757575;
  --secondary-bgc: #2f303a;
  --icon-color: #afb1b8;
  --project-sec-gap: 30px;
}

body {
  font-family: roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--base-text-color);
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    background-size: contain;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* цвет заголовков */
.features__title,
.specialization__title,
.team__title,
.team-member__name,
.project-card__title,
.clients__title {
  color: var(--title-text-color);
}

/* Логотип */
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
}

.logo--accent-color {
  color: var(--accent-color);
}

.logo--white-color {
  color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header__container,
  .menu-container,
  .site-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header__container,
  .menu-container,
  .site-nav {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact {
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 0;
  }
}

/* навигация и контакты */
@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 302px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-right: 79px;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
  }
}

.site-nav__link,
.contact__link {
  display: block;
  color: var(--title-text-color);
  fill: var(--base-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav__link,
  .contact__link {
    font-size: 40px;
    line-height: 1.18;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link,
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link .site-nav .item:not(:last-child),
.contact__link .site-nav .item:not(:last-child) {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .contact__link {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 88px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__item:last-child {
    margin-bottom: 10px;
  }
}

.contact__link {
  color: var(--base-text-color);
  fill: var(--base-text-color);
}

@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.site-nav__link--current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact__item--tel {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contact__link--tel {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.29;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contact__link--mail {
    font-size: 24px;
    line-height: 1.29;
  }
}

.social-links {
  margin-top: 64px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: inline-flex;
  justify-content: center;
}

@media screen and (min-width: 767px) {
  .social-links {
    display: none;
  }
}

.social-links__item {
  color: var(--accent-color);
  margin-right: 20px;
}

.social-links__item-color {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact__icon--size-env {
    width: 14px;
    height: 10px;
  }
  .contact__icon--size-ph {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon {
    margin-right: 8px;
  }
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-nav__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .site-nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact__item--tel {
    margin-left: 30px;
  }
  .site-nav {
    margin-left: 0px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav:hover, .site-nav:focus {
    color: var(--accent-color);
  }
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link,
.contact__link,
.adress__link,
.adress__link,
.adress__location,
.adress__location {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus, .site-nav__link:hover, .site-nav__link:focus, .site-nav__link:hover, .site-nav__link:focus,
.contact__link:hover,
.contact__link:focus,
.contact__link:hover,
.contact__link:focus,
.contact__link:hover,
.contact__link:focus,
.adress__link:hover,
.adress__link:focus,
.adress__link:hover,
.adress__link:focus,
.adress__link:hover,
.adress__link:focus,
.adress__link:hover,
.adress__link:focus,
.adress__link:hover,
.adress__link:focus,
.adress__link:hover,
.adress__link:focus,
.adress__location:hover,
.adress__location:focus,
.adress__location:hover,
.adress__location:focus,
.adress__location:hover,
.adress__location:focus,
.adress__location:hover,
.adress__location:focus,
.adress__location:hover,
.adress__location:focus,
.adress__location:hover,
.adress__location:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 6;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 100%;
    height: 100%;
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  border: none;
}

.modal__close-button {
  position: absolute;
  top: 0px;
  right: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--primary-white-color);
}

.modal__close-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0px 40px 12px 40px;
  padding-top: 40px;
  color: var(--title-text-color);
}

.modal-form {
  margin-left: 40px;
  margin-right: 40px;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .modal-form {
    max-width: 100%;
  }
}

.modal-form__list {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.modal-form__list:focus-within > .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__list:focus-within > input,
.modal-form__list:focus-within > textarea {
  outline: 0;
  border: 1px solid var(--accent-color);
}

.modal-form__list label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--base-text-color);
}

.modal-form__list textarea {
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-form__list input {
  padding: 12px 12px 12px 42px;
}

.modal-form__list input {
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__list input::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 767px) {
  .modal-form__list input::placeholder {
    font-size: 12px;
  }
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
}

.modal-policy {
  margin-top: 20px;
  text-align: center;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .modal-policy {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-policy__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-policy__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-policy__icon {
  display: inline-block;
  margin-right: 5px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: var(--primary-white-color);
}

.modal-policy__checkbox:checked + .modal-policy__icon {
  background-color: var(--accent-color);
  border: none;
  fill: var(--primary-white-color);
}

.modal-policy__contract {
  display: inline-block;
  color: var(--accent-color);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}

@media screen and (max-width: 1199px) {
  .modal-policy__contract {
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
  }
}

.modal-policy__agree {
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal-policy__agree {
    font-size: 14px;
  }
}

/* герой */
.hero {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/mobile/bg@1x-mobile.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
  max-width: 767px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/mobile/bg@2x-mobile.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/tablet/bg@1x-tablet.jpg);
    max-width: 1199px;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/tablet/bg@2x-tablet.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/desktop/bg@1x-desktop.jpg);
    max-width: 1600px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/desktop/bg@2x-desktop.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.65;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 118px;
  text-transform: uppercase;
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  border: transparent;
  width: 200px;
  height: 50px;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}

/* Преимущества */
.features {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__icon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
  height: 120px;
  justify-content: center;
  align-items: center;
  fill: var(--base-text-color);
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
    margin-top: 30px;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .features__icon {
    max-width: 450px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__icon {
    width: 354px;
  }
  .features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
  .features__item {
    width: calc((100% - 90px) / 4);
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

/* Чем мы занимаемся */
@media screen and (max-width: 1199px) {
  .specialization-mobile {
    display: none;
  }
}

.specialization__title,
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.specialization__list {
  display: flex;
  padding-bottom: 30px;
}

.specialization-item {
  color: transparent;
}

.specialization-item:not(:last-child) {
  margin-right: 30px;
}

.specialization-item__thumb {
  position: relative;
}

.specialization-item__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.specialization-item__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-white-color);
}

.specialization-item__thumb-block {
  display: block;
}

/* наша команда */
.team {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .team-list {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  text-align: center;
}

.team-member__picture {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 30px) / 2);
  }
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-member:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team-member:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    width: calc((100% - 90px) / 4);
  }
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-top: 30px;
  }
  .team-member:not(:last-child) {
    margin-right: 30px;
  }
  .team-list {
    padding-bottom: 60px;
  }
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .social-icons {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .social-icons {
    padding-top: 16px;
    margin-bottom: 24px;
  }
}

.social-icons__list:not(:last-child) {
  margin-right: 10px;
}

.social-icons__pic {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link {
  display: inline-flex;
  color: var(--icon-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.social-icons__link:focus, .social-icons__link:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  fill: var(--primary-white-color);
}

/* Наши клиенты */
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.clients-cards__link {
  display: inline-flex;
  color: var(--icon-color);
  width: 100%;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-cards__link:hover, .clients-cards__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-cards__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .clients-cards__list {
    width: calc((100% - 30px) / 2);
  }
  .clients-cards__list:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-cards__list {
    width: calc((100% - 60px) / 3);
    display: flex;
    justify-content: flex-end;
  }
  .clients-cards__list:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    padding-top: 30px;
  }
  .clients-cards__list {
    width: calc((100% - 150px) / 6);
    display: flex;
    padding-bottom: 30px;
  }
}

/* футер */
.footer {
  background-color: var(--secondary-bgc);
  padding-top: 60px;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .footer {
    height: 603px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
    background-size: 10px;
  }
}

.adress__location,
.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  display: block;
  margin-top: 8px;
}

.adress__location {
  color: var(--primary-white-color);
}

.adress__link {
  color: rgba(255, 255, 255, 0.6);
}

.adress {
  padding-top: 20px;
}

.action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.action__icon {
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .action {
    margin-top: 60px;
    padding-top: 12px;
  }
  .subscribe {
    margin-top: 20px;
  }
}

.action__icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.action__list:not(:last-child) {
  margin-right: 10px;
}

.action__link {
  display: inline-flex;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action__link:hover, .action__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-block__container {
    display: flex;
    justify-content: space-between;
  }
  .footer-block--margin-r {
    margin-right: 74px;
  }
  .footer-block--margin-l {
    margin-left: 61px;
  }
  .action .subscribe {
    margin-top: 10px;
  }
  .action--subscribe {
    padding-top: 10px;
  }
  .footer-block--position-input {
    justify-content: center;
    width: 450px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe {
    width: 100%;
    padding-top: 20px;
    margin-left: auto;
  }
}

.subscribe input {
  width: 100%;
  height: 50px;
  padding: 15px 16px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--secondary-bgc);
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  outline: 0;
}

@media screen and (max-width: 767px) {
  .subscribe input {
    width: 100%;
  }
}

.subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  border: none;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .subscribe__button {
    margin-left: 7px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer__container,
  .footer-block__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .adress__list {
    text-align: left;
  }
  .subscribe input {
    width: 358px;
  }
  .footer-block {
    width: 270px;
    text-align: left;
  }
  .footer-block:nth-child(2) {
    margin-left: 33px;
  }
  .footer-block:last-child {
    flex-basis: calc(50% - 15px);
  }
  .action__icons {
    justify-content: left;
  }
}

/* фильтр */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .filter {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-top: 60px;
  }
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:focus, .filter__button:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--primary-white-color);
  cursor: pointer;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:nth-child(-n + 2) {
  margin-bottom: 15px;
}

/* карточки портфолио */
.project-set {
  margin-left: calc(-1 * var(--project-sec-gap));
  margin-bottom: calc(-1 * var(--project-sec-gap));
}

@media screen and (min-width: 768px) {
  .project-set {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
  }
}

.project-card {
  margin-left: var(--project-sec-gap);
  margin-bottom: var(--project-sec-gap);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .project-card {
    flex-basis: calc(100% / 2 - var(--project-sec-gap));
  }
}

@media screen and (min-width: 1200px) {
  .project-card {
    flex-basis: calc(100% / 3 - var(--project-sec-gap));
  }
}

.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translate(0%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__picture {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
}

.project-card__text {
  position: absolute;
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-card__text {
    line-height: 2;
  }
}

.project-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-card__title {
    font-size: 17px;
  }
}

.project-card--border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
}

.project-card__service {
  font-size: 16px;
  line-height: 1.88;
  color: var(--base-text-color);
  padding-bottom: 20px;
}

.project-card:hover .project-card__overlay {
  transform: translate(0);
}

@media screen and (min-width: 768px) {
  .portfolio {
    overflow-y: hidden;
  }
}

.header__menu-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__menu-button--cross {
  display: none;
}

.header__menu-button.is-open .header__menu-button--cross {
  display: block;
}

.header__menu-button.is-open .header__menu-button--menu {
  display: none;
}

.header__menu-button:active {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 48px 15px 48px 40px;
    transform: translate(-50%, 0%);
    z-index: 5;
    overflow-x: hidden;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */