.header {
  // position: relative;
  align-items: center;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


@media screen and (min-width: 768px) {
  .header__container,
  .menu-container,
  .site-nav {
    display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }

  .contact {
    display: flex;
    flex-direction: column-reverse;
    @media screen and (min-width: 1200px) {
      flex-direction: row-reverse;
      align-items: center;
      padding: 30px 0;
    }
  }
}

/* навигация и контакты */
.site-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    margin-right: 79px;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.site-nav__link,
.contact__link {
  display: block;
  color: var(--title-text-color);
  fill: var(--base-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contact__link {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 88px;
  }

  .site-nav__item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__item:last-child {
    margin-bottom: 10px;
  }
}

.contact__link {
  color: var(--base-text-color);
  fill: var(--base-text-color);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.site-nav__link--current {
    color: var(--accent-color);
  }


@media screen and (max-width: 767px) {
  .contact__item--tel {
    margin-bottom: 32px;
  }
}

.contact__link--tel {
  @media screen and (max-width: 767px) {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.29;
    letter-spacing: 0.02em;
  }
}

.contact__link--mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.29;
  }
}

.social-links {
  margin-top: 64px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: inline-flex;
  justify-content: center;

  @media screen and (min-width: 767px) {
    display: none;
  }

  &__item {
    color: var(--accent-color);
    margin-right: 20px;
  }

  &__item-color {
    color: var(--accent-color);
  }
}

.contact__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact__icon--size-env {
    width: 14px;
    height: 10px;
  }

  .contact__icon--size-ph {
    width: 10px;
    height: 14px;
  }
}

// Tablet

@media screen and (min-width: 768px) {
  .contact__icon {
    margin-right: 8px;
  }

  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .site-nav__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .site-nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

// desktop
@media screen and (min-width: 1200px) {
  .contact__item--tel {
    margin-left: 30px;
  }

  .site-nav {
    margin-left: 0px;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link,
.contact__link,
.adress__link,
.adress__link,
.adress__location,
.adress__location {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}