:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --base-text-color: #757575;
  --secondary-bgc: #2f303a;
  --icon-color: #afb1b8;
  --project-sec-gap: 30px;
}
